parameters:
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  excludes_analyse:
    - %currentWorkingDirectory%/appinfo/routes.php
    - %currentWorkingDirectory%/appinfo/app.php
  ignoreErrors:
